* {
  padding: 0;
  margin: 0;
}

 .header {
   background-image: url("https://cdn.pixabay.com/photo/2011/06/29/15/27/wood-8196_960_720.jpg");
  
   height: 10rem;
   background-size: cover;


  }

  .footer {
    background-image: url("https://cdn.pixabay.com/photo/2011/06/29/15/27/wood-8196_960_720.jpg");
    background-size: cover;
  }


  .italic {
    font-style: italic;
  } 
  
.heading {
  text-transform: capitalize;
}

h2 {
  margin-top: 10px;;
  margin-bottom: 10px;;
}

p {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;;
}