* {
  padding: 0;
  margin: 0;
}



/* .pageContainer {
    position: relative;
    min-height: 100vh;
  } 

  .contentWrap {
    padding-bottom: 2.5rem;    
  }

 .footer {
    position: absolute;
    bottom: 0;
    width: 100%;   
    height: 2.5rem;         
  } */

 .header {
   /* background-image: url("https://cdn.pixabay.com/photo/2017/01/08/19/10/wood-1963700_960_720.jpg"); */
   background-image: url("https://cdn.pixabay.com/photo/2011/06/29/15/27/wood-8196_960_720.jpg");
   /* background-image: url("https://cdn.pixabay.com/photo/2016/07/09/23/29/background-1507046_960_720.jpg"); */
  
   height: 10rem;
   background-size: cover;

    /* position: fixed;
    top: 0;
    width: 100%;             */
  }

  .footer {
    background-image: url("https://cdn.pixabay.com/photo/2011/06/29/15/27/wood-8196_960_720.jpg");
    background-size: cover;
  }

  .italic {
    font-style: italic;
  } 
  
.heading {
  text-transform: capitalize;
}